{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Gorditas&family=Pacifico&display=swap" rel="stylesheet">
  <title>Sheela Online Shop</title>
</head>
<body>
  <!-- Navbar -->
  
  <div class="alert alert-dismissible fade show" role="alert">
    <strong>Happy customer!</strong> You should check in on some of slashed prices for best offer. Enjoy!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div id="demo" class="carousel slide" data-ride="carousel" style='height:100vh;background-color:black;'>

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"
        style='width:40px; height:4px; border:none; border-radius:4px;'></li>
      <li data-target="#demo" data-slide-to="1" style='width:40px; height:4px; border:none; border-radius:4px;'></li>
      <li data-target="#demo" data-slide-to="2" style='width:40px; height:4px; border:none; border-radius:4px;'></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img
          src="https://images.pexels.com/photos/3984847/pexels-photo-3984847.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="Los Angeles" width="1100" height="auto">
        <div class="carousel-caption">
          <h1>Shop By Collection</h1>
          <a href='#' type="button" class="btn btn-dark btn-lg">Shop New Arrivals
            <i class="fa fa-cart-plus"></i>
          </a>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://images.pexels.com/photos/3984851/pexels-photo-3984851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="Chicago" width="1100">
        <div class="carousel-caption">
          <h1>Shop By Arrivals</h1>
          <a href='#' type="button" class="btn btn-dark btn-lg">Shop New Arrivals
            <i class="fas fa-cart-plus"></i>
          </a>
        </div>
      </div>

      <div class="carousel-item">
        <img
          src="https://images.pexels.com/photos/3984865/pexels-photo-3984865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="New York" width="1100">
        <div class="carousel-caption">
          <h1>Shop By Brand</h1>
          <a href='#' type="button" class="btn btn-dark btn-lg">Shop New Arrivals
            <i class="fas fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <section style='margin:5rem 0;'>
    <div class='row container mx-auto'>
      <div class='col-lg-4 col-md-12'>
        <figure class="snip0015">
          <img src="https://images.pexels.com/photos/3984870/pexels-photo-3984870.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="sample38"/>
          <figcaption>
            <h2>I know <span>what</span> is good</h2>
            <p>That everyone has his price, but we offer designs that are more than the value.</p>
            <a href="#"></a>
          </figcaption>
        </figure>
        <h3 class='caption-black'>Exquisite design</h3>
      </div>
      <div class='col-lg-4 col-md-12'>
        <figure class="snip0015">
          <img src="https://images.pexels.com/photos/3984849/pexels-photo-3984849.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="sample39"/>
          <figcaption>
            <h2>How many <span>boards</span> </h2>
            <p>We perfect the art of cutting on boards cos we are never bored.</p>
            <a href="#"></a>
          </figcaption>			
        </figure>    
        <h3 class='caption-white'>Superb Cut out</h3>    
      </div>
      <div class='col-lg-4 col-md-12'>
        <figure class="snip0015">
          <img src="https://images.pexels.com/photos/3984887/pexels-photo-3984887.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="sample40"/>
          <figcaption>
            <h2>If your <span>knees</span> are<span> beautiful</span></h2>
            <p>By the end of the day, our design for your will showcase your beauty.</p>
            <a href="#"></a>
          </figcaption>			
        </figure>
        <h3 class='caption-black'>Plain and Beautiful</h3>
      </div>
    </div>
  </section>
  <hr>

  <section style='margin:3rem 0;'>
    <div class='row container mx-auto'>
      <div class='col-lg-4 col-md-12'>
        <figure class="snip1401">
          <img src="https://images.pexels.com/photos/3984854/pexels-photo-3984854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="sample67" />
          <figcaption>
            <h3>Dextrous and precise</h3>
            <p>Expert in what we do, that is what we stand for.</p>
          </figcaption><i class="ion-ios-home-outline"></i>
          <a href="#"></a>
        </figure>
        <h3 class='caption-white'>Neatly Knitted</h3>
      </div>
      <div class='col-lg-4 col-md-12'>
        <figure class="snip1401"><img src="https://images.pexels.com/photos/3984843/pexels-photo-3984843.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="sample93" />
          <figcaption>
            <h3>Majestic and Grand</h3>
            <p>We have mastered the art of put threads together to make a spectular design.</p>
          </figcaption><i class="ion-ios-personadd-outline"></i>
          <a href="#"></a>
        </figure>
        <h3 class='caption-black'>Impressive Finish</h3>
      </div>
      <div class='col-lg-4 col-md-12'>
        <figure class="snip1401"><img src="https://images.pexels.com/photos/3984867/pexels-photo-3984867.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="sample87" />
          <figcaption>
            <h3>Awe-aspiring</h3>
            <p>Stunning and breathtaking are the materials we use in our design</p>
          </figcaption><i class="ion-ios-location-outline"></i>
          <a href="#"></a>
        </figure>
        <h3 class='caption-white'>High Quality</h3>
      </div>
    </div>
  </section>
  <section style='margin:10rem 0;'>
    <div class='row container mx-auto'>
      <div class='col-lg-6 col-md-12'>
        <div class="promo" style="--overlay-color: hotpink">
          <div class="image-wrapper"><img src="https://images.unsplash.com/photo-1554620121-59e7f3f6e3a4?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=800&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ"/></div>
          <h2 class="title" data-cta="Meet us there →">Jabi Mall!</h2>
        </div>
      </div>
      <div class='col-lg-6 col-md-12'>
        <div class="promo" style="--overlay-color: dodgerblue"><a href="/store">
          <div class="image-wrapper"><img src="https://images.pexels.com/photos/4062424/pexels-photo-4062424.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/></div>
          <h2 class="title" data-cta="Come on in →">Online shop!</h2>
        </a></div>
      </div>
    </div>
  </section>

  <section style='margin:5rem 0'>
    <div class="containere">
      <div class="box1">
        <img src="https://images.pexels.com/photos/4620610/pexels-photo-4620610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        <span>Our</span>
      </div>
      <div class="box1">
        <img src="https://images.pexels.com/photos/4620612/pexels-photo-4620612.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        <span>Beautiful</span>
      </div>
      <div class="box1">
        <img src="https://images.pexels.com/photos/4620624/pexels-photo-4620624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        <span>Design</span>
      </div>
      <div class="box1">
        <img src="https://images.pexels.com/photos/4620621/pexels-photo-4620621.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
        <span>Sample</span>
      </div>
    </div>
  </section>

  <section style='margin:0 0 25rem 0;'>
    <div class="grid">
      <figure class="effect-romeo">
        <img src="https://images.pexels.com/photos/3984877/pexels-photo-3984877.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="img17"/>
        <figcaption>
          <h2>Sheela <span>STYLES</span></h2>
          <p>Our concept of making dresses has evolved beyond human comprehension.</p>
          <a href="#">View more</a>
        </figcaption>     
      </figure>
      <figure class="effect-romeo">
        <img src="https://images.pexels.com/photos/3984890/pexels-photo-3984890.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="img18"/>
        <figcaption>
          <h2>Sheela <span>STYLES</span></h2>
          <p>Customers satisfaction has been our focal point.</p>
          <a href="#">View more</a>
        </figcaption>     
      </figure>
    </div>
  </section>
  
</body>
<script></script>

{% endblock content %}