{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
<div class='container-fluid'>
	<nav class="navbar navbar-expand-lg navbar-dark mdb-color darken-3 mt-3 mb-5">
		<hr>
		<!-- Navbar brand -->
		<span class="navbar-brand ml-2">Categories:</span>

		<!-- Collapse button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
			aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapsible content -->
		<div class="collapse navbar-collapse" id="basicExampleNav">

			
			<ul class="navbar-nav mr-auto">
				<div class='dropdown'>
					<li {% if not category %} class="nav-item active" {% endif %}>
						<a class="btn btn-primary"
						href="{% url 'store:store' %}"
						role="button"
						aria-expanded="True">All
							<span class="sr-only">(current)</span>
						</a>
					</li>
				</div>
				<div class="dropdown">
					<a
					  class="btn btn-primary dropdown-toggle"
					  href="#"
					  role="button"
					  id="dropdownMenuLink"
					  data-mdb-toggle="dropdown"
					  aria-expanded="True"
					>
					  Categories
					</a>
					
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						{% for c in categories %}
					  <li {% if category.slug == c.slug %}{% endif %}>
						  <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{c.name}}</a>
					</li>
					{% endfor %}
					</ul>
					
				  </div>
				


			</ul>
			<!-- Links -->

			<form class="form-inline">
				<div class="md-form my-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				</div>
			</form>
		</div>
		<!-- Collapsible content -->

	</nav>

<section style='margin:5rem 0;'>
	<div class="row">
		{% for product in products %}
		<div class="col-lg-4 mx-auto col-md-12">
			<div class='mt-5 image-container'><a class="tile" href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}  {% else %} {% static 'img/no_image.png' %}{% endif %}"
                    class="img-fluid " alt="muwahhidaat">
        	</a></div>
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<h4 style="display: inline-block;"><strong>₦{{product.price}}</strong></h4>
				<hr>
 
				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart <i class="fas fa-shopping-cart ml-1"></i></button>
				
				<a class="btn btn-outline-success" href="{{ product.get_absolute_url }}">View <i class="fas fa-eye ml-1"></i></a>
				

			</div>
		</div>
		{% endfor %}
	</div>
	{% include "store/pagination.html" with page=products %}
</section>
</div>
</body>
</html>
{% endblock %}